.site-header::after {
  clear: none;
  display: none;
}

#mynav {
 background-color: cornsilk;
 text-align: right;
 border-bottom: 1px solid #444;
 padding-top: 10px;
 padding-bottom: 10px;
 height: 40px;
 overflow: hidden;
 line-height: 80%;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
}

.site-title {
   font-size: 220%;
}

.content-area, .site-main {
  padding: 0;
}

.site-main {
  margin: 0 auto;
}

.update {
  padding: 10px;
  line-height: 25px;
  border: 1px dotted red;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}

figcaption {
  font-family: serif;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

